services:
  php-fpm:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./data:/var/www/html/data
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - ADMIN_PASSWORD=admin12345678
    user: "33:33"
    depends_on:
      - redis
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html:ro
      - ./data:/var/www/html/data:ro
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    user: root    
    depends_on:
      - php-fpm
    restart: unless-stopped

  redis:
    image: redis:alpine
    restart: unless-stopped
