services:
  web:
    build: .
    container_name: adis_lab_g7_web
    ports:
      - "8080:80"
    volumes:
      # Mount src directory to view changes live
      - ./src:/var/www/html
      # Mount nginx config to reload without rebuild
      - ./docker/nginx/default.conf:/etc/nginx/sites-enabled/default
    environment:
      - ADMIN_PASSWORD=admin12345678
    restart: unless-stopped
